.form {
    position: relative;
    width: 50%;
    margin: 2rem auto;
}

.input {
    width: 40%;
    font-size: 2em;
    border: 3px solid orange;
    background: transparent;
    border-radius: 0.7em;
    padding: 0.2em 1em;
    transition: 0.5s;
    outline: none;
}

.input:focus {
    width: 100%;
    outline: none;
}

.icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    background: red;
}
